index.php
icon.php
Scripts/my/*
Scripts/test/*
Files/WinIBW4 - Verknüpfung.lnk
DownloadFileList.txt
ScriptFileList.txt
.github/promts/Guide to Updating Site-Specific WinIBW4 Resources for WebView2.docx
