body {
	background-color: #f3f3f3;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}
button {
	height: auto;
	width: auto;
	font-size: 1em;
	margin-right: 0.5em;
}
.buttonBig {
	height: auto;
	width: auto;
	font-size: 1.5em;
	margin-right: 0.5em;
}
.buttonBox {
	margin-top: 1em;
}
.boxRight {
	margin-top: 1em;
	text-align: right;
}
.checkBox {
	width: 1em;
	height: 1em;
	margin-right: 1em
}
.input {
	font-size: 1.5em;
	height: 1.5em;
	margin-bottom: 1em;
}
.tab {
	overflow: hidden;
	border: 1px solid #cccccc;
}
.tab button {
	background-color: #e4e4e4;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-weight: bold;
	font-size: 1em;
	margin-right: 1em;
	height: 2em;
	width: auto;
}
.tab button:hover {
	background-color: #bcc6cc;
}
.tab button.active {
	background-color: #FFFFFF;
}
.tabcontent {
	display: none;
	padding: 1em;
	border: 1px solid #cccccc;
	border-top: none;
	height: auto;
	background-color: #ffffff;
}
.tablinks {
	font-size: 1em;
	font-weight: normal;
}
.text {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.textblock {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1em;
}
th {
	font-style: normal;
	color: #000000;
	font-size: 1.5em;
}

td {
	font-style: normal;
	color: #000000;
	font-size: 1em;
}

label {
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
}
legend {
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
}
select {
	font-family: inherit;
	font-size: 1em;
}
textarea {
	font-family: inherit;
	font-size: 1em;
}
input[type=checkbox] {
	width: 1.5em;
	height: 1.5em;
}

input[type=radio] {
	width: 1em;
	height: 1em;
	margin-left: 1em;
}

input[type=text] {
	font-size: 1em;
	height: 1.5em;
}